body {
    margin: 0;
    background-color: rgb(170, 210, 231); /* Bright blue background */
    color: white;
    font-family: "Silkscreen";
    line-height: normal;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

/* Styling for the Back Link */
nav {
    position: absolute;
    top: 10px;
    left: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

#svg-container {
    width: 1352px;
    margin-top: 0px;
    position: relative; /* Set the container to relative */
}

#sun {
    offset-path: path('M14 269V269C387.88 -76.0765 964.12 -76.0765 1338 269V269');
    offset-distance: 50%; /* This will be dynamically updated */
    position: absolute;
    top: 0%;
    left: 0%;
}

#svg-container2 {
    /* Center the SVG */
    display: flex;
    justify-content: center;
    margin-top: -500px;
    width: 100%;

    /* Additional styling */
    /* width: 100%; */
    /* height: auto; */
}

.clouds {
    width: 100%;
}

#sunrise-time {
    offset-path: path('M14 269V269C387.88 -76.0765 964.12 -76.0765 1338 269V269');
    offset-distance: 0%; /* This will be dynamically updated */
    position: absolute;
    top: 50%;
    left: 10.5%;
    rotate: 42deg;
}
    


#sunset-time{
    offset-path: path('M14 269V269C387.88 -76.0765 964.12 -76.0765 1338 269V269');
    offset-distance: 100%; /* This will be dynamically updated */
    position: absolute;
    top: 319%;
    left: 12%;
    rotate: -43deg;
}

#iss-direction{
    
    color: rgba(1, 17, 120, 1);
    font-size: 128px;
}

/* Video Background */
#rain-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1; /* Place the video behind other elements */
}