body {
    margin: 0;
    background-color: rgb(170, 210, 231); /* Bright blue background */
    color: white;
    font-family: "Silkscreen";
    line-height: normal;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

/* Styling for the Back Link */
nav {
    position: absolute;
    top: 10px;
    left: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

#svg-container {
    width: 1352px;
    margin-top: 20px;
    position: relative; /* Set the container to relative */
}

#sun {
    offset-path: path('M14 269V269C387.88 -76.0765 964.12 -76.0765 1338 269V269');
    offset-distance: 50%;
    position: absolute;
    top: 0%; /* Adjust positioning as needed */
    left: 0%; /* Adjust positioning as needed */
    /* transform: translate(30%, 50%); Centers the sun within the container */
}

#svg-container2 {
    /* Center the SVG */
    display: flex;
    justify-content: center;
    margin-top: 0px;
    width: 100%;

    /* Additional styling */
    /* width: 100%; */
    /* height: auto; */
}

.clouds {
    width: 100%;
}

